body {
    font-family: Helvetica;
    background-color: white;
}

h1 {
    color: red;
    margin-bottom: 0;
    font: Helvetica;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

iframe{
    margin:0 auto;
    display: block;
    position: fixed;
    bottom: 0px;
    left: 75%;
}

.img_2{
   position: absolute;
   top: 0;
   left:0;
   z-index: -1;
   max-width: 100%;
   /* height: 100%; */
   max-height: auto;
   background-size: 100% 100%;
}



