<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>

    <body>
        <img src="background.jpg" class= "img_2" alt="background" width="1920" height="1080">

        <!-- <h1> <img src="logo.png" alt="logo" width="350" height="108"></h1> -->
       
            <iframe
                allow="microphone;"
                width="350"
                height="430"
               
                src="https://console.dialogflow.com/api-client/demo/embedded/28d33d17-14cd-4077-a5ea-2bc758d89b1b">
            </iframe>



    </body>







    </html>